.App {
    text-align: center;

    background-color: #282c34;
}

.logo {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 40px;
}
