.carContainer {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carHeader {
    background-color: transparent;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 15px;
    color: white;
}
